body {
  background: linear-gradient(
    90deg,
    hsla(242, 58%, 73%, 1) 0%,
    hsla(157, 72%, 82%, 1) 100%
  );
  margin: 0;
}

.nav1 {
  margin-bottom: 3.6em;
}

.nav2 {
  margin-bottom: 2.4em;
  margin-top: 2.4em;
}
li.nav {
  float: left;
}
ul.nav {
  background-color: rgba(12, 11, 11, 0.849);
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: fixed;
  top: 0;
}

.nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #2d8db9a9;
}

h1 {
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3.6em;
  width: 50%;
  height: 50%;
}

.center-logo {
  width: 400px;
  height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

article {
  margin-bottom: 3.6em;
}

.paragraph {
  background-color: white;
  border-style: solid;
  border-color: black;
  margin-bottom: 1.2em;
  margin-left: 25%;
  margin-right: 25%;
  padding-bottom: 1.2em;
  padding-left: 1.2em;
  padding-right: 1.2em;
  padding-top: 1.2em;
  text-align: left;
}

.props {
  background-color: white;
  border-style: solid;
  border-color: black;
  font-weight: bold;
  margin-left: 25%;
  margin-bottom: 1.2em;
  margin-right: 25%;
  padding-bottom: 1.2em;
  padding-left: 1.2em;
  padding-right: 1.2em;
  padding-top: 1.2em;
  text-align: center;
}

ul {
  display: table;
  margin: 0 auto;
}

ol {
  display: table;
  margin: 0 auto;
}

table {
  display: table;
  margin: 0 auto;
}

h3 {
  text-align: center;
}

.spacing {
  margin-bottom: 1.2em;
}

.leftt {
  text-align: left;
}

footer {
  text-align: center;
  font-style: bold;
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  /* Height of the footer*/
  height: 30px;
  background: hsla(242, 58%, 73%, 1) 0%;
}
